.par {
    margin-bottom: 1em;
}

.hdr {
    font-weight: bold;
}

nav {
    display: inline-block;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0 5px;
    margin-left: -1px;
}

nav a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    margin-left: 10px;
}

nav a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
}

nav a.cur {
    background-color: #ffb44e;
}

nav a.link {
    background-color: #aac4ff;
}

table.data {
    border: 3px solid black;
    border-collapse: collapse;
}

table.data th, table.data td {
    border: 1px solid black;
    padding: 0 5px;
}

table.data th, .th {
    font-weight: bold;
}

.recent {
    color: black;
}

.old {
    color: grey;
}

.edit {
    color: blue;
}

.label {
    text-align: right;
    font-weight: bold;
}

.legendValue {
    float: left;
    width: 40px;
}

.flt {
    float: left;
}

.frt {
    float: right;
}

.clear {
    clear: both;
}

.mrt {
    margin-right: .5em !important;
}

#plot {
    width: 700px;
    height: 300px;
}

#overview {
    width: 700px;
    height: 60px;
}

#time {
    font-size: smaller
}
