<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <!-- security -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>adminPages</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/cron/*</url-pattern>
      <url-pattern>/admin</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- filters -->

  <filter>
    <filter-name>persistenceManager</filter-name>
    <filter-class>org.vsegda.factory.PersistenceManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>persistenceManager</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- JSP page servlets -->

  <servlet>
    <servlet-name>adminView</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminView</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataView</servlet-name>
    <jsp-file>/WEB-INF/jsp/data.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataView</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>messageView</servlet-name>
    <jsp-file>/WEB-INF/jsp/message.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageView</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataGraphView</servlet-name>
    <jsp-file>/WEB-INF/jsp/dataGraph.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataGraphView</servlet-name>
    <url-pattern>/dataGraph</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataPlotView</servlet-name>
    <jsp-file>/WEB-INF/jsp/dataPlot.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataPlotView</servlet-name>
    <url-pattern>/dataPlot</url-pattern>
  </servlet-mapping>

  <!-- Other servlets -->

  <servlet>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>org.vsegda.admin.server.AdminServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/admin/admin.rpc</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>alert</servlet-name>
    <servlet-class>org.vsegda.servlet.AlertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alert</servlet-name>
    <url-pattern>/alert</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cronDataCheckTimeout</servlet-name>
    <servlet-class>org.vsegda.servlet.DataCheckTimeoutCronServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cronDataCheckTimeout</servlet-name>
    <url-pattern>/cron/dataCheckTimeout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cronDataArchive</servlet-name>
    <servlet-class>org.vsegda.servlet.DataArchiveCronServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cronDataArchive</servlet-name>
    <url-pattern>/cron/dataArchive</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cronDataCacheRefresh</servlet-name>
    <servlet-class>org.vsegda.servlet.DataCacheRefreshCronServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cronDataCacheRefresh</servlet-name>
    <url-pattern>/cron/dataCacheRefresh</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>taskDataArchive</servlet-name>
    <servlet-class>org.vsegda.servlet.DataArchiveTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskDataArchive</servlet-name>
    <url-pattern>/task/dataArchive</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>taskDataCacheRefresh</servlet-name>
    <servlet-class>org.vsegda.servlet.DataCacheRefreshTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskDataCacheRefresh</servlet-name>
    <url-pattern>/task/dataCacheRefresh</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>dataCsv</servlet-name>
    <servlet-class>org.vsegda.servlet.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataCsv</servlet-name>
    <url-pattern>/data.csv</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>messageCsv</servlet-name>
    <servlet-class>org.vsegda.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageCsv</servlet-name>
    <url-pattern>/message.csv</url-pattern>
  </servlet-mapping>
</web-app>
